/* reset default settings */
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
  html {
    box-sizing: border-box;
  }

/* header */
  header{
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    z-index: 1;
 }
/* navbar */
 nav{
    padding: 10px 4em;
 }
 nav li{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
    display: inline-block;
    width: 7em;
 }